<mat-toolbar class="mat-elevation-z5" color="secondary">
  <span><img src="../../../../assets/RamDigital_Logo.png" class="logo"></span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button (click)="scrollToElement(home)">Home</button>
    <button mat-button (click)="scrollToElement(services)">Services</button>
    <button mat-button (click)="scrollToElement(products)">Products</button>
  </div>
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-button>Menu</button>
  </div>
</mat-toolbar>

<div #home>
    <br>
    <app-banner></app-banner>
  </div>
  <app-customers></app-customers>
  <app-benefits></app-benefits>
  <div #services>
    <app-services></app-services>
  </div>
  <div #products>
    <app-products></app-products>
  </div>
  