<mat-toolbar class="mat-elevation-z5" color="secondary">
  <span><img src="../../../../assets/RamDigital_Logo.jpg" class="logo"></span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>
    <!-- <button mat-button routerLink="/to-do-list">To do list</button>
    <button mat-button routerLink="/forms">Forms</button>
    <button mat-button routerLink="/recipes">Recipes</button>
    <button mat-button routerLink="/shopping-list">Shopping List</button> -->
    <button mat-button>Home</button>
    <button mat-button>About</button>
    <button mat-button>Services</button>
</mat-toolbar>


