.fill-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
    background: white;
    box-shadow: none;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.logo {
  height: 42px;
}

