section {
  background: #fff;
  padding-top: 28px;
  padding-bottom: 48px;
}

.content h2, h4{
    text-align: center;
  }

.card {
  display: flex;
  align-items:center;
  img{
    width: 80px;
  }
  p {
    display: inline;
    padding: 24px;
  }
}
