<div class="content">
    <h2>Productos</h2>
    <h4>Todos los productos que ofrecemos cuentan con asesoría en el manejo y con la mejor garantía</h4>
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex>
        <div class="card">
          <p>Computadoras de escritorio de una gran variedad de marcas y modelos</p>
        </div>
      </div>
      <div fxFlex>
        <div class="card">
          <p>Laptops  listas para usarse</p>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex>
        <div class="card">
          <p>Cargadores originales para laptop</p>
        </div>
      </div>
      <div fxFlex>
        <div class="card">
          <p>Refacciones para laptops y computadoras</p>
        </div>
      </div>
    </div>


  </div>
  