<div class="content-box">
  <section class="content">
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="55" class="one">
        <h1>
          Servicios computacionales y redes.
        </h1>
        <p>
          RAM DIGITAL es una empresa situada al sur de la ciudad, con amplia experiencia y dedicada a dar servicios
          computacionales y redes de comunicación . Nuestra empresa esta enfocada a dar soluciones tecnológicas de la
          mejor calidad, para lo cual contamos con un equipo técnico capacitado y atención personalizada a nuestros
          clientes.
        </p>
      </div>
      <div fxFlex="45" class="two"><img src="../../../../assets/repair_banner.png" class="banner"></div>
    </div>
  </section>
</div>
