<div class="content-box">
  <section class="content">
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="55" class="one">
        <h1>
          Servicios computacionales y redes
        </h1>
        <p>
          RAM DIGITAL es una empresa con amplia experiencia y dedicada a dar servicios computacionales y redes de
          comunicación. Contamos con un equipo técnico capacitado y brindamos atención personalizada a nuestros
          clientes de la mejor calidad.
        </p>
      </div>
      <div fxFlex="45" class="two"><img src="../../../../assets/repair_banner.png" class="banner"></div>
    </div>
  </section>
</div>
