<div class="content">
  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex>
      <h2>Calidad y servicio computacional</h2>
      <p>Ofrecemos un servicio personalizado encabezado por nuestro equipo técnico con una amplia experiencia en
        soluciones tecnológicas. Logramos el aumento de competitividad de tu empresa integrando la tecnología de
        información a la estrategia de negocios.</p>
    </div>
    <div class="img-align" fxFlex>
      <img src="../../../../assets/it-administrator-banner.png">
    </div>
  </div>
</div>
