#benefits {
    background-color: #fafafa;
}

.content {
    padding-top: 48px;
    padding-bottom: 38px;
}

.img-align {
    text-align: center;
}

img {
    max-height: 380px;
    width: auto;
    margin: 0 auto;
}
