section {
  background: rgb(247, 247, 247);
  padding-top: 28px;  
  padding-bottom: 48px;
}

.content h2 {
  text-align: center;
}

.card {
  text-align: center;
  padding: 12px;
  // margin: 8px;
  img {
    height: 222px;
  }
  p {
    margin: 0;
  }
}
