<div class="content" id="services">
  <h2>Nuestros Servicios</h2>
  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex>
      <div class="card">
        <p>Venta de equipos de cómputo, accesorios y refacciones</p>
      </div>
    </div>
    <div fxFlex>
      <div class="card">
        <p>Mantenimiento, reparación y actualización de computadoras</p>
      </div>
    </div>
    <div fxFlex>
      <div class="card">
        <p>Instalación y actualización de programas para cumplir con los planes de estudio</p>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex>
      <div class="card">
        <p>Instalación y mantenimiento de equipos digitales como proyectores, conmutadores, etc</p>
      </div>
    </div>
    <div fxFlex>
      <div class="card">
        <p>Instalación y configuración de redes de voz y datos</p>
      </div>
    </div>
    <div fxFlex>
      <div class="card">
        <p>Recuperación de información perdida</p>
      </div>
    </div>
  </div>
</div>
