section {
  background: rgb(247, 247, 247);
  padding-top: 28px;  
  padding-bottom: 48px;
}

.content h2 {
  text-align: center;
}

.card {
  text-align: center;
  padding: 12px;
  padding-top: 0;
  // margin: 8px;
  .img-container {
    max-width: 222px;
    text-align: center;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
  p {
    margin: 0;
  }
}
