<section>
  <div class="content" id="services">
    <h2>Servicios</h2>
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex>
        <div class="card">
          <div class="img-container">
            <img src="../../../assets/icons/ventas.png">
          </div>
          <p>Venta de equipos de cómputo, accesorios y refacciones</p>
        </div>
      </div>
      <div fxFlex>
        <div class="card">
          <div class="img-container">
            <img src="../../../assets/icons/reparacion.png">
          </div>
          <p>Mantenimiento, reparación y actualización de computadoras</p>
        </div>
      </div>
      <div fxFlex>
        <div class="card">
          <div class="img-container">
            <img src="../../../assets/icons/programas.png">
          </div>
          <p>Instalación y actualización de programas para cumplir con los planes de estudio</p>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex>
        <div class="card">
          <div class="img-container">
            <img src="../../../assets/icons/redes.png">
          </div>

          <p>Instalación y configuración de redes de voz y datos</p>
        </div>
      </div>
      <div fxFlex>
        <div class="card">
          <div class="img-container">
            <img src="../../../assets/icons/instalaciondeequipo.png">
          </div>
          <p>Instalación y mantenimiento de equipos digitales como proyectores, conmutadores, etc</p>
        </div>
      </div>
      <div fxFlex>
        <div class="card">
          <div class="img-container">
            <img src="../../../assets/icons/recuperacion.png">
          </div>
          <p>Recuperación de información perdida</p>
        </div>
      </div>
    </div>
  </div>

</section>
