section {
    background: #353C62;
    color: white;
    padding-top: 18px;
    padding-bottom: 48px;
}

p, h4, h3, h2, mat-icon{
    color: white;
}

p {
    display: flex;
    align-items: center;
}

mat-icon {
    margin-right: 12px;
}


