<section>
  <div class="content">
      <div fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex>
              <h2>Visítanos</h2>
              <p>Lazaro Cardenas 3155-C</p>
              <p>Col. Valle del Marquez</p>
              <p>Monterrey, N.L.</p>
          </div>
          <div fxFlex>
            <h2>Contáctanos</h2>
            <p><mat-icon>mail_outline</mat-icon>ram_digital@hotmail.com</p>
            <p><mat-icon>stay_current_portrait</mat-icon>(81) 8349 0802</p>
            <p><mat-icon>stay_current_portrait</mat-icon>(81) 8880 3444</p>
          </div>
      </div>
  </div>
</section>
